.oddno{
    background-color: rgb(226, 194, 210);
    font: Verdana,DejaVu Sans,sans-serif;

}

#n2{
    color: rgba(7, 2, 48, 0.267);
    font-size: 36px;
}

.n3{
    font-size: 24px;
}

#n4{
    background-color: rgba(175, 236, 175, 0.267);
    font-size:24px;
    font-weight: bold;
}